@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<center><h2>@ViewData["Title"]</h2></center>
<hr/>

<center><h4>I'm ensuare  this website was created by my self.</h4>
<h4>Thank you for visiting ous
        <br /><br />
        <b>Hostel Management System.</b>
</h4>
</center>